body {
  width: 100%;
  margin: 0;
  font-family: Monospace, sans-serif;
}

#title, #description{
  text-align:center;
}


fieldset {
  border: none;
}


.input-block input, .input-block label {
  display:block;
}

.check-radio label {
  display:block;
}

form {
  border: 1px black solid;
  margin:0 10% 0 10%;
}